<h1>AI会話アプリ</h1>

{% for dialogue in dialogues %}
<p>
    {% if dialogue.role == "user" %}
    あなた：{{ dialogue.context }}
    {% endif %}
    {% if dialogue.role == "assistant" %}
    chatGPT：{{ dialogue.context }}
    {% endif %}
</p>
{% endfor %}

<form action="{% url 'talk:index' %}" method="post">
    {% csrf_token %}
    メッセージ：{{ form.message }}
    <button type="submit">送信</button>
</form>

<form action="{% url 'talk:delete' %}" method="post">
    {% csrf_token %}
    <button type="submit" onclick="return confirm('これまでの会話履歴は全て削除されます。本当によろしいですか？')">会話を削除</button>
</form>

<form action="{% url 'talk:american' %}" method="post">
    {% csrf_token %}
    <button type="submit" onclick="return confirm('これまでの会話履歴は全て削除されます。本当によろしいですか？')">アメリカ人モード</button>
</form>

<form action="{% url 'talk:samurai' %}" method="post">
    {% csrf_token %}
    <button type="submit" onclick="return confirm('これまでの会話履歴は全て削除されます。本当によろしいですか？')">サムライモード</button>
</form>
